MAYAPUR_PAYMENT_AUTH_KEY=replace_with_treasury_key
MAYAPUR_PAYMENT_GATEWAY_URL=https://payments.mayapur.com/process/payment/request
PAYMENT_SERVER_PORT=1769
PUBLIC_SITE_URL=https://iyfmayapur.org
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name_here
VITE_BOOK_SERVER_URL=http://localhost:3000
